/ueboot-dependencies.iml
/ueboot-ui/node_modules/
/ueboot-ui/.idea/
/.idea/
!/ueboot-ui-system/yarn.lock
!/ueboot-ui-portal/yarn.lock
!/ueboot-ui-system/yarn-error.log

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
